:root {
  --primary-color: #411195;
  --secondary-color: #2e3a51;
  --nav-link-active: #ffa000;
  --white-font-color: #fff;
  --bg-app-color: #fff;
  --arrow-bg-color: #2e3a51;
  --arrow-color: #ffa000;
  --brand: #ffa000;
  --social-icons-color: #311b92;
  --border-color: #e7757e;

  /* timeline psudo values */
  --year-font-size: 2px;
  --year-text-color: #9b3838;
  --timeline-item-bg-color: #f7f5f5;
  --timeline-item-text-color: inherit;
  --timeline-item-font-size: 12px;
  --timeline-item-padding: 6px 8px;
  --timeline-item-border-radius: 4px;
  --section-title-font-color: #ffa000;

  /* New metallic and robotic-themed variables */
  --metallic-bg-gradient: linear-gradient(135deg, #363c48, #212734);
  --robotic-font-family: 'Roboto', sans-serif;
  --banner-gradient: linear-gradient(90deg, rgb(2, 0, 36) 30%, rgba(54, 60, 72, 0.6545211834733893) 50%, #2e3a51 100%);
}

.app-container {
  background: var(--white-font-color);
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.custom-navbar {
  background: var(--white-font-color);
  font-family: var(--robotic-font-family);
  margin-left: 60px;
}

.custom-navbar .navbar-nav .nav-link {
  color: var(--secondary-color) !important;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: var(--nav-link-active) !important;
}

.custom-navbar .navbar-nav .nav-link:active {
  color: var(--nav-link-active) !important;
}

.brand {
  color: var(--secondary-color);
}

.brand:hover {
  color: var(--brand);
}

/* header intro */

.greeting {
  color: var(--brand);
  margin-right: 80px;
  margin-top: -60px;
  font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
}

.iam {
  margin-top: -30px;
  color: #090808;
  margin-right: 190px;
  font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
}

.name {
  color: #090808;
  margin-right: 140px;
  margin-top: -30px;
  font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
}

.intro {
  color: #090808;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.intro2 {
  color: #090808;
  font-size: 30px;
  margin-left: 95px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.whatimdoing {
  font-size: 18px;
  color: #090808;
}

/* banner */

.banner-container {
  height: 70vh;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 12px;
}

.banner-content {
  margin-left: 10px;
}

.carousel-item-content {
  padding: 0 12px;
}

.anim-layout-container {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.anim-layout {
  margin-top: -10%;
  align-items: center;
}

.stack-layout-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background: var(--metallic-bg-gradient);
  color: var(--white-font-color);
  width: 50%;
}

.stack-layout {
  align-items: center;
  color: var(--white-font-color);
  justify-content: center;
  text-align: center;
  margin-left: 80px;
  margin-top: 20%;
}

.stack-layout p {
  font-size: 30px;
  font-family: 'Overpass', sans-serif;
}

/* header intro */
.content-container {
  align-items: center;
}

/* component  fonts */
.section-title h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--section-title-font-color);
  align-content: center;
  text-align: center;
  margin-bottom: 12px;
}

/* projects */

.project-container {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.project-card {
  background: linear-gradient(135deg, #3f51b5, #363c48);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  border-color: var(--border-color);
  color: var(--white-font-color);
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* timeline */
.timeline-container {
  margin: 6px 0;
}

/* Screws */
.screw {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #888 20%, transparent 5%);
  background-size: 20px 20px;
  border-radius: 50%;
  transform: rotate(45deg);
}

.screw.top-left {
  top: -5px;
  left: -2px;
}

.screw.top-right {
  top: -5px;
  right: -2px;
}

.screw.bottom-left {
  bottom: -5px;
  left: -2px;
}

.screw.bottom-right {
  bottom: -5px;
  right: -2px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--metallic-bg-gradient);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--metallic-bg-gradient);
}

.footer {
  color: var(--white-font-color);
  text-align: center;
}

.hero-arrow-container {
  position: absolute;
  margin-top: -90px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: floatArrow 2s ease-in-out infinite;
  transform-origin: center bottom;
}

.hero-arrow {
  cursor: pointer;
  background: var(--arrow-color);
  color: var(--arrow-bg-color);
  border-radius: 50%;
}

@keyframes floatArrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Social media icons */
.social-media-buttons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--white-color);
  opacity: 0.7;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.social-media-buttons a {
  text-decoration: none;
  color: var(--social-icons-color);
  transition: color 0.2s, width 2s, height 4s;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.social-media-buttons a:hover {
  color: var(--brand);
}

.experience-container {
  margin: 0;
  display: flex;
  margin-left: 9%;
}

/* timeline  */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item::after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
